In [1]:
from pathlib import Path
import pandas as pd

In [2]:
PROJECT_ROOT = Path("/Users/fernandogomes/MacLab/mhac")

In [3]:
iptu_path = PROJECT_ROOT / "data" / "iptu_canonical" / "iptu_2024_canonical.parquet"
iptu_path

PosixPath('/Users/fernandogomes/MacLab/mhac/data/iptu_canonical/iptu_2024_canonical.parquet')

In [4]:
df = pd.read_parquet(iptu_path)
df.loc[:, ["numero_do_contribuinte", "fracao_ideal", "area_do_terreno", "area_construida"]]

        numero_do_contribuinte  fracao_ideal  area_do_terreno  area_construida
0                 0010030001-4        1.0000              136            135.0
1                 0010030002-2        1.0000               90             67.0
2                 0010030003-0        1.0000              105            140.0
3                 0010030004-9        1.0000              108            103.0
4                 0010030005-7        1.0000              120            170.0
...                        ...           ...              ...              ...
3649505           3101180238-1        0.0033            18041             84.0
3649506           3101180239-1        0.0033            18041             84.0
3649507           3101180240-3        0.0033            18041             84.0
3649508           3101190001-4        1.0000            18500              0.0
3649509           3101200001-7        1.0000            18926              0.0

[3649510 rows x 4 columns]

In [7]:
df.columns.tolist()

['numero_do_contribuinte',
 'ano_do_exercicio',
 'numero_da_nl',
 'data_do_cadastramento',
 'numero_do_condominio',
 'codlog_do_imovel',
 'nome_de_logradouro_do_imovel',
 'numero_do_imovel',
 'complemento_do_imovel',
 'bairro_do_imovel',
 'referencia_do_imovel',
 'cep_do_imovel',
 'quantidade_de_esquinas_frentes',
 'fracao_ideal',
 'area_do_terreno',
 'area_construida',
 'area_ocupada',
 'valor_do_m2_do_terreno',
 'valor_do_m2_de_construcao',
 'ano_da_construcao_corrigido',
 'quantidade_de_pavimentos',
 'testada_para_calculo',
 'tipo_de_uso_do_imovel',
 'tipo_de_padrao_da_construcao',
 'tipo_de_terreno',
 'fator_de_obsolescencia',
 'ano_de_inicio_da_vida_do_contribuinte',
 'mes_de_inicio_da_vida_do_contribuinte',
 'fase_do_contribuinte']

In [6]:
df[df["numero_do_contribuinte"].astype(str).str.startswith("0370050555")]

,numero_do_contribuinte,ano_do_exercicio,numero_da_nl,data_do_cadastramento,numero_do_condominio,codlog_do_imovel,nome_de_logradouro_do_imovel,numero_do_imovel,complemento_do_imovel,bairro_do_imovel,...,ano_da_construcao_corrigido,quantidade_de_pavimentos,testada_para_calculo,tipo_de_uso_do_imovel,tipo_de_padrao_da_construcao,tipo_de_terreno,fator_de_obsolescencia,ano_de_inicio_da_vida_do_contribuinte,mes_de_inicio_da_vida_do_contribuinte,fase_do_contribuinte
752137,0370050555-8,2024,1,01/01/24,09-4,06660-5,R ESTELA,287.0,AP 43 E VGS,PARAISO,...,1999.0,16,27.98,Apartamento em condomínio,Residencial vertical - padrão D,Normal,0.76,2000,1.0,0.0

In [5]:
df.loc[
    df["numero_do_contribuinte"].notna()
    & df["numero_do_contribuinte"].astype(str).str.startswith("0370050555"),
    [
        "numero_do_contribuinte",
        "numero_do_condominio",
        "area_construida",
        "area_do_terreno",
        "area_construida",
        "area_ocupada",
        "ano_da_construcao_corrigido",
        "quantidade_de_pavimentos",
    ]
]

,numero_do_contribuinte,numero_do_condominio,area_construida,area_do_terreno,area_construida,area_ocupada,ano_da_construcao_corrigido,quantidade_de_pavimentos
752137,0370050555-8,09-4,158.0,1465,158.0,1228.0,1999.0,16

In [16]:
df["fracao_ideal"].describe()

count    3.649510e+06
mean     4.536969e-01
std      6.274740e-01
min      1.000000e-04
25%      6.000000e-03
50%      3.710000e-02
75%      1.000000e+00
max      5.000000e+02
Name: fracao_ideal, dtype: float64

In [17]:
total = len(df)

n_nulos = df["fracao_ideal"].isna().sum()
n_zero = (df["fracao_ideal"] == 0).sum()
n_maior_1 = (df["fracao_ideal"] > 1).sum()
n_valida = ((df["fracao_ideal"] > 0) & (df["fracao_ideal"] <= 1)).sum()

pd.DataFrame({
    "casos": [
        "total_registros",
        "fracao_ideal_nula",
        "fracao_ideal_zero",
        "fracao_ideal_maior_que_1",
        "fracao_ideal_valida_(0,1]"
    ],
    "quantidade": [
        total,
        n_nulos,
        n_zero,
        n_maior_1,
        n_valida
    ],
    "percentual_%": [
        100,
        n_nulos / total * 100,
        n_zero / total * 100,
        n_maior_1 / total * 100,
        n_valida / total * 100
    ]
})

                       casos  quantidade  percentual_%
0            total_registros     3649510    100.000000
1          fracao_ideal_nula           0      0.000000
2          fracao_ideal_zero           0      0.000000
3   fracao_ideal_maior_que_1           6      0.000164
4  fracao_ideal_valida_(0,1]     3649504     99.999836

In [19]:
df.loc[df["fracao_ideal"] > 1, 
       ["numero_do_contribuinte", "fracao_ideal", "area_do_terreno", "area_construida"]
].head(10)

        numero_do_contribuinte  fracao_ideal  area_do_terreno  area_construida
2112174           1010840031-9         253.0              108            125.0
2112175           1010840032-7         253.0               71            125.0
2112176           1010840033-5         253.0               73            125.0
3096718           1691450011-7         500.0              400            618.0
3217813           1850310117-2         250.0               66            131.0
3217814           1850310118-0         250.0               66            131.0

In [22]:
AREA_COLS = [
    "area_do_terreno",
    "area_construida",
    "area_ocupada",
]

In [23]:
total = len(df)

rows = []

for col in AREA_COLS:
    n_nulo = df[col].isna().sum()
    n_zero = (df[col] == 0).sum()
    n_nulo_ou_zero = ((df[col].isna()) | (df[col] == 0)).sum()
    n_valido = ((df[col] > 0)).sum()

    rows.append({
        "atributo": col,
        "total_registros": total,
        "nulos": n_nulo,
        "zeros": n_zero,
        "nulos_ou_zero": n_nulo_ou_zero,
        "validos_>0": n_valido,
        "nulos_%": n_nulo / total * 100,
        "zeros_%": n_zero / total * 100,
        "nulos_ou_zero_%": n_nulo_ou_zero / total * 100,
        "validos_%": n_valido / total * 100,
    })

summary_df = pd.DataFrame(rows)
summary_df

,atributo,total_registros,nulos,zeros,nulos_ou_zero,validos_>0,nulos_%,zeros_%,nulos_ou_zero_%,validos_%
0,area_do_terreno,3649510,0,0,0,3649510,0.0,0.000000,0.000000,100.000000
1,area_construida,3649510,0,98498,98498,3551012,0.0,2.698938,2.698938,97.301062
2,area_ocupada,3649510,0,98499,98499,3551011,0.0,2.698965,2.698965,97.301035